@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    background-color: #faedcd;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10%;
}
.nav li{
    display: inline-block;
    list-style: none;
    padding: 0px 30px;
    font-size: larger;
    font-weight: 700;
    
}



body {
    min-height: 100vh;
}
.cta {
    border: none;
    background: none;
   }
   
   .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 10px;
    padding-right: 15px;
    text-transform: uppercase;
    
   }


   .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
   }
   
   .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
   }
   
   .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
   }


footer {
    position: sticky;
    display: flex;
    justify-content: center;
    top: 100%;
    padding-bottom: 10px;
}